body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .swiper-pagination-bullets{
 position: absolute;
 transform: translateX(-50%);
 bottom:10px
} */

.swiper-button-prev::after,.swiper-button-next::after{
  color: white;
  height: 0.5rem;
 
  /* color: #8DD69C; */
}




@tailwind base;
@tailwind components;
@tailwind utilities;