@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-bold;
    }

    p {
        @apply font-medium text-body;
    }

    li {
        @apply font-medium text-body text-[15px];
    }

    /* button {
        @apply bg-primary text-white py-2 px-8 rounded-full ;
    }
     */
}

/* 
.btn-pri{
    background-color: #0056D6;
    border-radius: 50px;
   padding-top: 40px;
   padding-bottom: 40px;
} */

html {
    scroll-behavior: smooth;
}

/* .swiper{
    display: flex;
    justify-items: center;
    align-items: center;
    background: #000;
    position: relative;
    padding-top: 15%;
} */

.swiper-button-next:after, 
.swiper-button-prev:after{
    font-size: 18px !important;
    color: black;
    border-radius: 100% ;
    background-color: rgba(128, 128, 128, 0.15) ;
    padding: 5px 8.5px;
}


/* .swiper-pagination {
    background-color: red;
    margin-top: 10px;
} */

