/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');


:root {
  --timing: 4s;
}

body {
  font-family: 'Philosopher', sans-serif;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Philosopher', 'Raleway', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Ubuntu, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  /* .btn {
    @apply rounded-[10px] py-[12px] px-[35px] text-secondary text-[20px] font-medium ease-in-out duration-300 bg-primary
   
    ;
  } */

  .btn-small {
    @apply rounded-[10px] py-[12px] px-[18px] text-secondary text-[18px] font-medium ease-in-out duration-300 bg-primary;
  }

  .btnSec {
    @apply rounded-[10px] py-[12px] px-[35px] text-secondary ease-in-out duration-300 border-[1px] border-[white];
  }

  /* a {
    @apply text-primary font-[700] text-[1.05rem]
  } */

  h1 {
    @apply text-primary font-[500] text-[2rem]
  }

  .header {
    @apply text-primary font-[700] text-[2.2rem] leading-[2.5rem]
  }

  h2 {
    @apply text-primary text-[1.1rem] leading-[1.4rem]
  }

  .body {
    @apply text-[1.2rem] leading-[1.5rem] text-primary
  }


}

.cont{
  padding: 0 2rem;
 }

 @media (min-width: 640px){
  .cont{
    padding:0  3rem;
  }
  }
  
 @media (min-width: 768px){
  .cont{
    padding:0  15rem;
  }
  }

  @media (min-width: 1268){
    .cont{
      padding:0 25rem;
    }
    }



.name::before,
.name::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 10%;
  right: 0;
}

.name::before {
  background-color: inherit;
  animation: typeText var(--timing) steps(14) 1s forwards
}

@keyframes typeText {
  to {
    left: 100%;
  }
}

.name::after {
  background-color: #A4CADA;
  width: 0.12em;
  opacity: 0.7;
  animation: typeText var(--timing) steps(14) 1s forwards,
    blink 750ms steps(14) infinite
}


@keyframes typeText {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;